{% if result[player]['error'] == 0 %}
{% set status = result[player]['winner'] > 0 ? "won ✅" : (result[player]['winner'] < 0 ? "lost ❌" : "tie ➖" ) %}
    <li class='result'>{{ player|capitalize }} signatures are '{{result[player]['signatures']}}', they have {{result[player]['points']}} points and {{status}}.</li>
{% else %}
    <li class='result'>{{ player|capitalize }} signatures are '{{result[player]['signatures']}}' are invalid ⚠️.</li>
{% endif %}