{% if result[player]['error'] == 0 %}
{% set status = result[player]['winner'] > 0 ? "won ✅" : (result[player]['winner'] < 0 ? "lost ❌" : " tie ➖" ) %}
<li>{{ player|capitalize }} signatures is '{{result[player]['signatures']}}', they have {{result[player]['points']}} points and they {{status}}.</li>
{% else %}
<li>{{ player|capitalize }} signatures '{{result[player]['signatures']}}' are invalid ⚠️.</li>
{% endif %}